# This is Git's per-user configuration file.
[user]
	name = Paul Paczuski
	useConfigOnly = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	s = status
	b = branch
	r = reflog
	su = status -uno
[push]
	default = simple
[credential]
	helper = cache --timeout 999999

# https://stackoverflow.com/a/56757026/3217870
[completion]
	commands = -check-mailmap
[core]
	editor = vim
